@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --background: #29283D;
    --primary: #C0C0C0;
    --secondary: #EBEBEB;
    --text: #000;
}

*{
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--background);
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3{
    color: var(--secondary);
}

button {
    background-color: var(--primary);
    color: var(--text);
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    border: solid 2px var(--secondary);
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary);
    border: solid 2px var(--primary);
}

.anim-element {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.5rem;

    height: 50px;
    color: var(--text);
    font-weight: bold;
    border-radius: 5px;
}


#cssElement {
    background-color: #2DA5D7;
    color: white;

    width: 200px;
    animation: expandWidth 1s linear;
}

#jsElement {
    width: 0;
    color: black;
    background-color: #F7DF1E;
}
#jQueryElement{
    color: white;
    width: 0;
    background-color: #0769AD;
}

@keyframes expandWidth {
    0% {
        width: 0px;
    }

    100% {
        width: 200px;
    }
}

.fade-box {
    width: 200px;
    height: 100px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--primary);
    border-radius: 10px;
    border: var(--secondary) 4px solid;
    color: var(--text);

    display: flex;
    align-items: center;
    justify-content: center;
}


.fade-container {
    display: flex;
    justify-content: center;    
    width: 200px;
    height: 100px;
}

.buttons{
    display: flex;
}

.buttons button{
    width: 5rem;
    margin: 0.2rem 0.2rem;
}

#ajax-div {
    width: 200px;
    min-height: 25px;
    background-color: var(--primary);
    border: var(--secondary) 4px solid;
    border-radius: 10px;
    color: var(--secondary);

    display: flex;
    flex-direction: column;
}

#ajax-div > * {
    margin: 0.5rem;
}

#ajax-buttons {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}


#hide-btn {
    position: absolute;
    width: 4rem;
    right: 0.5rem;
    top: 0.5rem;
}